Assigment_5-6_Day_Roberts_ASP.NET/App_Data/rewards.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="rewards">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reward" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="cost" type="xs:decimal" />
							<xs:element name="weight" type="xs:decimal" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
